 body {
  background-color:    rgb(161, 243, 223); 
   /* background-image: -moz-linear-gradient(
    90deg,
    
    rgb(128, 199, 189) 100% 
     );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(146, 240, 216)30%,
    rgb(128, 199, 189) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(146, 240, 216)30%,
    rgb(128, 199, 189) 100%  ); */
} 
label {
  color: white;
}
.banner-right {
  float: right;
  width: 500px;
  height: auto;
}
.myform {
  margin-top: 100px;
  margin-left: 50px;
  width: 40%;
  float: left;
}
img {
  height: 300px;
}
p {
  color: black;
}
h6 {
  color: black;
}
